
<div class="center hero-unit">
<h1>Here we GO!</h1>
<p>
  You've found the home page for the
  <%= link_to "Pin Crap Up", "#" %>
  application.
</p>
 <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>

